.LoginForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.loginBtn {
    margin-top: 20px;
    margin-left: auto;
}

.loginInput {
    margin-right: auto;
}

.inputWrapper {
    margin-top: 10px;
}

.errorMsg {
    margin-top: 20px;
}
