.ArticleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto 20px;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.infoText {
    margin-top: 5px;
}

.icon {
    margin-right: 1rem;
}

.avatarWrapper {
    width: 100%;
    display: flex;
}

.articleBlock {
    margin-top: 2.5rem;
}
