.Button {
    cursor: pointer;
    color: var(--secondary-color);
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background: none;
}

.backgroundPrimary {
    background: var(--bg-color);
    color: var(--secondary-color);
    border: none;
}

.backgroundSecondary {
    background: var(--bg-color-inverted);
    color: var(--secondary-color);
    border: none;
}

.square {
    padding: 0;
}

.size_s {
    font-size: var(--font-size-s);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.square.size_s {
    height: var(--font-line-s);
    width: var(--font-line-s);
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
