.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--bg-color-inverted);
    position: relative;
    transition: width 0.3s ease-in-out;
    display: flex;
}

.switchers {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.collapseBtn {
    position: absolute;
    top: 10px;
    right: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 40px 0 80px 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}

.collapsed:hover {
    width: calc(var(--sidebar-width-collapsed) + 25px);
}
