.item {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.link {
    margin-left: 10px;
    visibility: visible;
    transition: visibility 0.3s steps(1, end);
}

.icon {
    fill: var(--secondary-color);
}

.collapsed {
    .link {
        visibility: hidden;
        transition: visibility 0.3s steps(1, start);
    }
}

.collapsed:hover {
    width: calc(var(--sidebar-width-collapsed) + 25px);
}
