.PageError {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reloadBtn {
    margin-top: 15px;
}

.reloadBtn:hover {
    background-color: var(--primary-color);
}
