.app_light_theme {
    --bg-color: #fbc7db;
    --bg-color-inverted: #000;
    --primary-color: #149c04;
    --secondary-color: #d2d2d8;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // text
    --text-color: #000;
}
