.ProfileCard {
    padding: 20px;
    border: 2px solid var(--bg-color-inverted);
}

.input {
    margin: 0.5rem 0;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
}
